.imgContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 15px;
}
.imgContainer div img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.imgContainer li {
  cursor: pointer;
}
